/* disable selection
********************************************************************************/
html, body, div, span, object,
form, h1, h2, button, label, a, img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
	font-family: komikax;
	src: url(../font/komikax.ttf);
}

body {
	position: relative;
}

.board {
	margin: auto;
	position: relative;
	display: block;
	width: 890px;
}

canvas {
	background: url(../img/level1/back.png);
	cursor: url(../img/cursor.png) 27 27, crosshair;
}

/*canvas.level1 {
	background: url(../img/level1/back.png);
}*/

canvas.level2 {
	background: url(../img/level2/back.png);
}

.scores {
	float: right;
	font-family: komikax;
	font-size: 40px;
	color: white;
	text-shadow: 2px 1px 10px black;
}
.score {
	position: absolute;
	font-family: komikax;
	font-size: 30px;
	display:none;
	color: #49dc6b;
}
.score.minus {
	color: #e3281b;
}

.girl {
	width: 240px;
	height: 240px;
	background: url(../img/girl.png);
}

